// Site colors
$blackish: rgb(26,26,26); // 10%
$whiteish: rgb(229,229,229); // 90%
$grayish: rgb(178,178,178); // 75%

$teal_dark: rgb(31,90,86);
$teal_light: rgb(187,254,250);
$artifact: rgb(80,26,131);
$archeo: rgb(184,49,47);
$ancient: rgb(243,121,52);
$relic: rgb(198,151,97);
$morality: rgb(37,169,132);

$secret: rgb(64, 30, 108);
$hidden: rgb(224, 90, 56);
$bonus: rgb(0, 100, 132);
$end: rgb(205,183,102);

$body-bg: $blackish;
$body-color: $whiteish;

$theme-colors: (
  'ui': $grayish,
  'primary': $teal_light,
  'secondary': $teal_dark,
  'relic': $relic,
  'artifact': $artifact,
  'archeo': $archeo,
  'ancient': $ancient,
  'morality': $morality,
);

@import '../bootstrap/scss/bootstrap';
//@import '../bootstrap-vue/src/index.scss';

$breakpoint-small: 576px;
$breakpoint-large: 992px;

body {
  font-weight: 300;
}

h1 {
  font-family: Orbitron, "Open Sans", sans-serif;
}
@media (max-width: $breakpoint-large) {
  h1 { font-size: 2rem; }
}
@media (max-width: $breakpoint-small) {
  h1 { font-size: 1.5rem; }
}

.title {
  padding-bottom: 10px;
}

.subtitle {
  //font-family: Orbitron, "Open Sans", sans-serif;
  color: $grayish;
}
.version {
  color: $teal_light;
}

.btn:hover {
  color: inherit;
  background-color: inherit;
}

// Makes text un-selectable.
// This is really just for node info. If you click too fast on a node, it
// highlights the text on the plan number, which makes it less readable.
// There's really no useful way to leverage selecting a single digit of text,
// so we disable it.
.no-select {
  -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none; // Safari
     -khtml-user-select: none; // Konqueror HTML
       -moz-user-select: none; // Old versions of Firefox
        -ms-user-select: none; // Internet Explorer/Edge
            user-select: none; // Non-prefixed version, currently
                               // supported by Chrome, Edge, Opera and Firefox */
}

// Crusade selector

#crusade-selector {
  padding-bottom: 10px;
}

// This is a bit ugly. It's because the background image is set dynamically
// with higher CSS priority.
$selector-height: 60px;
$selector-height-sm: 30px;
@media (min-width: $breakpoint-large +1) {
  .crusade-button-lg {
    height: $selector-height - 10px;
    background-repeat: no-repeat;
    background-position: -2px -6px;
    background-size: $selector-height $selector-height;
    padding-left: $selector-height + 8px;
    margin-right: 5px;
  }
  .crusade-button-sm {
    display: none;
  }
}
@media (max-width: $breakpoint-large) {
  .crusade-button-lg {
    display: none;
  }
  .crusade-button-sm {
    height: $selector-height*.5;
    padding: 5px;
    margin-right: 5px;
  }
}

// Plan Info

#plan {
  padding-bottom: 10px;
}

// Minimap

.modal-content {
  background-color: black;
  border: 2px solid $teal_dark;
}

.modal-header {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 1.5rem;
  font-family: Orbitron, "Open Sans", sans-serif;
  color: $teal_light;
  border-bottom: 2px solid $teal_dark;
  background-color: $dark;
}

.modal-body {
  padding: 0px;
  padding-bottom: 3px;
}

.modal-footer {
  padding: 0px;
  align: center;
  border-top: none;
}
.minimap-close-button {
  width: 100%;
  margin: 0px;
  border-radius: 0px;
  padding: 3px;
}

.minimap-control-block {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align:center;
}

.minimap-control {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 9px;
  padding-right: 9px;
}

.minimap-resize-box {
  max-width: 1000px;
  margin: 0 auto;
}

.minimap-image {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 56.25%;
  padding-left: 0px;
  padding-right: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

$mini_marker_w: 32px;
$mini_marker_h: 32px;

.minimap-marker {
  display: block;
  position: absolute;
  width: $mini_marker_w;
  height: $mini_marker_h;
  border: 2px solid white;
  border-radius: $mini_marker_w/2;
  padding: 0px;
  // Re-positioning trick to let us specify coordinates in %
  transform: translate(-($mini_marker_w/2), -($mini_marker_h/2));
  background-color: black;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
}
.minimap-marker.minimap-marker-enemy { // Should be both
  width: $mini_marker_w/3;
  height: $mini_marker_h/3;
  transform: translate(-($mini_marker_w/2/3), -($mini_marker_h/2/3));
  border: none;
  background-color: $archeo;
}

.minimap-marker-fragment {
  border-color: white;
  background-image: url(../assets/fragment.png);
}
.minimap-marker-skull {
  background-image: url(../assets/skull.png);
}
.minimap-marker-enemy {
}

// Map

#map {
  width: 100%;
  // The height-0, padding-bottom thing is a trick to maintain aspect ratio with
  // responsive container. 1920x1080 is neocore's native coordinate aspect ratio
  height: 0px; // This is a trick to maintain aspect ratio
  padding-bottom: 56.25%;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  border: 1px solid $teal_dark;
  position: relative;
  background-color:  black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#detail {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 25%;
  height: 35%;
  border-left: 1px solid $teal_dark;
  border-bottom: 1px solid $teal_dark;
  border-bottom-left-radius: 8px;
  padding: 0px;
}
@media (max-width: $breakpoint-large) {
  #detail {
    // For small screens, place it below the map
    top: 100%;
    left: 0%;
    width: 100%;
    border-radius: 0px;
    border-right: 1px solid $teal_dark;
  }
}

.detail-title {
  width: 100%;
  padding: 2px 5px 2px 5px;
  border-bottom: 1px solid $teal_dark;
  font-size: 1rem;
  font-family: Orbitron, "Open Sans", sans-serif;
  color: $teal_light;
}

.detail-fact {
  padding-left: 5px;
  padding-right: 5px;
}
.detail-fact-label {
  color: $teal_light;
}
.detail-fact-data {
  color: white;
}


$node_border: 1px;

$node_h: 60px;
$node_w: 60px;
//$shrink: 0.66666;
$shrink: 0.5;

.node {
  display: block;
  position: absolute;
  height: $node_h;
  width: $node_w;
  padding: 0;
  // Re-positioning trick to let us specify coordinates in %
  transform: translate(-($node_w/2), -($node_h/2));
  //border: $node_border solid $teal_dark;
  border-radius: $node_border*4;
}
@media (max-width: $breakpoint-small) {
  .node{
    height: $node_h*$shrink;
    width: $node_w*$shrink;
    // Re-positioning trick to let us specify coordinates in %
    transform: translate(-($node_w*$shrink/2), -($node_h*$shrink/2));
    //border: $node_border solid $teal_dark;
    //border-radius: $node_border*4;
  }
}

//.node:hover {
//  border: $node_border solid $teal_light;
//}

.icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-faction {
  //background-size: $node_w*.8 $node_h*.8;
  background-size: 80% 80%;
}

.node-order {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

$badge-font: 60%;
.node-badge {
  position: absolute;
  font-size: $badge-font;
}
@media (max-width: $breakpoint-small) {
  .node-badge {
    font-size: $badge-font*$shrink*.8;
  }
}

.node-badge-debug {
  position: absolute;
  transform: translate(0, -50%);
  bottom: 0%;
  left: 0%;
}

.node-badge-difficulty {
  position: absolute;
  top: 0%;
  right: 0%;
  text-align: right;
}

.node-badge-snapshot {
  position: absolute;
  top: 0%;
  left: 0%;
}

.node-icon {
}

.node-icon-fragment {
  background-image: url(../assets/fragment.png);
  background-size: 40% 40%;
  //background-size: $node_w/3 $node_h/3;
  background-position: bottom left;
}

.node-icon-servo {
  background-image: url(../assets/skull.png);
  background-size: 35% 35%;
  //background-size: $node_w/3 $node_h/3;
  background-position: bottom right;
}


$edge_thickness: 6px;

.edge-parent {
  height: 0px;
  transform-origin: 0% 0%;
  position: absolute;
}

.edge-centerer {
  // Correct for .edge height: (.edge:height)/2
  margin-bottom: -$edge_thickness/2;
}

$edge_on: $teal_light;
$edge_off: black;
$edge_edge: $teal_dark;

.edge {
  width: 100%;
  height: $edge_thickness;
  background: $edge_off;
  border: 1px solid $edge_edge;
}
.edge-active {
  background: $edge_on;
}
.edge-on2off {
  background: linear-gradient(to right, $edge_on 30%, $edge_off 70%);
}
.edge-off2on {
  background: linear-gradient(to left, $edge_on 30%, $edge_off 70%);
}
