<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css"
          href="css/custom.css">

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&display=swap">

    <!-- Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29492860-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-29492860-9');
    </script>

    <title>40K Inquisitor Void Crusade Planner</title>
  </head>
  <body>
    <div class="container-xl" id="app">
      <div class="row">
        <div class="col">
          <h1>40K Inquisitor Void Crusade Planner</h1>
          <div v-if="beta"
               style="background-color: #A00; text-align: center; margin-bottom:10px">
            This is an unreleased tool currently under development. Features and data may be missing or incorrect.
          </div>
          <!-- Crusade Selector -->
          <div id="crusade-selector">
            <span v-for="c in crusade_list"><!-- eliminate whitespace
              --><button class="btn btn-outline-primary shadow-none crusade-button-lg"
                :class="{ 'active': crusade==c[0] }"
                :style="{ 'background-image': 'url(assets/icon_'+c[0]+'.jpg)',
                  }"
                @click="reset_plan(); crusade=c[0]">
                {{ capitalize(c[0]) }}
              </button><button class="btn btn-outline-primary shadow-none crusade-button-sm"
                v-bind:class="{ 'active': crusade==c[0] }"
                @click="reset_plan(); crusade=c[0]">
                {{ capitalize(c[0]) }}
            </button></span>
          </div>
          <div id="plan">
            <button class="btn btn-sm btn-ui shadow-none" @click=reset_plan>
              Reset
            </button>
            Fragments: {{ this.planned_fragments }}/5
            <br>
            Max difficulty: +{{ this.max_difficulty }},
            Current difficulty: +{{ this.current_difficulty }},
            Average difficulty: +{{ this.average_difficulty.toFixed(2) }},
            Planned loot quality: {{ this.planned_loot_quality }},
            Planned loot quantity: {{ this.planned_loot_quantity }},
            Planned loot rarity: {{ this.planned_loot_rarity }},
          </div>
          <div id="map"
               :style="{ 'background-image': 'url(assets/bg_'+crusade+'.jpg)' }"
               @contextmenu.prevent>
            <!-- Draw all the edges -->
            <span v-for="start_node in nodes">
              <span v-for="end_node in nodes">
                <span v-if="(start_node.deps.includes(end_node.id)) &&
                            (start_node.id < end_node.id)">
                  <div class="edge-parent"
                       v-bind:style="{
                         'left': start_node.x+'%',
                         'top': start_node.y+'%',
                         'transform': 'rotate('+angle(start_node,end_node)+'rad)',
                         'width': distance(start_node,end_node)+'%',
                         }"><div class="edge-centerer"></div><div
                          v-bind:class="{ 'edge': true,
                            'edge-active': (plan.includes(start_node.id) && plan.includes(end_node.id)),
                            'edge-off2on': (!plan.includes(start_node.id) && plan.includes(end_node.id)),
                            'edge-on2off': (plan.includes(start_node.id) && !plan.includes(end_node.id)),
                          }"></div></div>
                </span>
              </span>
            </span>

            <!-- Draw all the nodes -->
            <div
              class="node no-select"
              v-for="(node, index) in nodes"
              v-bind:style="{
                'left': node.x + '%',
                'top': node.y + '%',
              }"
              @mouseover="detail_id=node.id"
              @click="toggle_node(node.id)"
              @contextmenu="show_minimap($event,node.id)">
                <!-- mission type icon -->
                <div class="icon"
                     v-bind:style="{
                      'background-image': 'url(assets/appearance_'+node.appearance+'.png)'
                     }"
                ></div>
                <!-- faction icon -->
                <div class="icon icon-faction"
                     v-if="(node.id!=0)"
                     v-bind:style="{
                       'opacity': plan.includes(node.id)?'25%':'100%',
                       'background-image': 'url(assets/faction_'+node.faction+'.png)'
                     }"
                ></div>
                <!-- plan order -->
                <span v-if="(node.id!=0) && plan.includes(node.id)"
                      class="node-order">
                  <span style="vertical-align: middle;">
                    {{plan.indexOf(node.id)}}
                  </span>
                </span>
                <!-- servoskull available icon -->
                <div class="icon node-icon node-icon-servo" v-if="node.servo"></div>
                <!-- info fragment icon -->
                <div class="icon node-icon node-icon-fragment" v-if="node.fragment"></div>
                <!-- difficulty modifier -->
                <span v-if="node.difficulty>0" class="badge badge-pill badge-danger node-badge node-badge-difficulty">+{{node.difficulty}}</span>
                <!-- actual mission difficulty -->
                <span v-if="node.id>=0 && connected(node)" class="badge badge-pill badge-primary node-badge node-badge-snapshot">+{{planned_difficulty(node.id)}}</span>
                <!-- debug modifier -->
                <span v-if="debug" class="badge badge-pill badge-relic node-badge node-badge-debug" @click="this.console.log(node);"></span>
            </div>
            <!-- Detail Panel -->
            <div id="detail">
              <div class="detail-title">
                <span v-bind:style="{
                  'visibility': (detail.id>0) ? 'visible' : 'hidden',

                }">"{{detail.internal_name}}"</span>
              </div>
              <span v-if="detail.id>0">
                <div class="detail-fact">
                  <span class="detail-fact-label">Faction:</span>
                  <span class="detail-fact-data">{{ detail.faction }}</span>
                </div>
                <div class="detail-fact">
                  <span class="detail-fact-label">Objective:</span>
                  <span class="detail-fact-data">{{ detail.objective }}</span>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Mission Minimap Pop-up -->
      <!-- backdrop -->
      <div v-if="minimap_modal" class="modal-backdrop show"
           @contextmenu.prevent
         ></div>
      <!-- minimap modal -->
      <div id="minimap"
           class="modal"
           :class="{ 'show': minimap_modal,
                     'd-block': minimap_modal }"
           role="dialog"
           tabindex="-1"
           @click="hide_minimap()"
           @contextmenu="hide_minimap($event)">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable"
             @click.stop
             @contextmenu.stop>
          <div class="modal-content">
            <div class="modal-header">
              {{detail.internal_name}}
            </div>
            <div class="modal-body"
                 v-if="minimap_modal">
              <div class="minimap-resize-box">
                <div v-if="debug">
                  X: {{detail.map_x}}, Y: {{detail.map_y}}<br>
                  frag_x: {{detail.fragment_x}}, frag_y: {{detail.fragment_y}}
                </div>
                <div class="minimap-control-block">
                  <button class="btn btn-outline-primary shadow-none minimap-control"
                          :class="{ 'active': minimap_vc_visible }"
                          @click="minimap_vc_visible = !minimap_vc_visible">
                    {{minimap_vc_visible?"Hide":"Show"}} Crusade Objectives
                  </button>
                  <button class="btn btn-outline-primary shadow-none minimap-control"
                          :class="{ 'active': minimap_objectives_visible }"
                          @click="minimap_objectives_visible = !minimap_objectives_visible">
                    {{minimap_objectives_visible?"Hide":"Show"}} Mission Objectives
                  </button>
                  <button class="btn btn-outline-primary shadow-none minimap-control"
                          :class="{ 'active': minimap_enemies_visible }"
                          @click="minimap_enemies_visible = !minimap_enemies_visible">
                    {{minimap_enemies_visible?"Hide":"Show"}} Enemies
                  </button>
                </div>
                <div class="minimap-image"
                     :style="{ 'background-image': 'url(assets/minimaps/'+crusade+'/'+detail.internal_name+'.png)' }">
                  <!-- enemy markers -->
                  <div
                    class="no-select minimap-marker minimap-marker-enemy"
                    v-if="minimap_enemies_visible"
                    v-for="coords in detail.enemy_locs"
                    v-bind:style="{
                      'left': transform_map_x_coord(detail_id, coords[0]) + '%',
                      'top': transform_map_y_coord(detail_id, coords[1]) + '%',
                    }"></div>
                  <!-- mission objective markers -->
                  <div
                    class="no-select minimap-marker minimap-marker-objective"
                    v-if="minimap_objectives_visible"
                    v-for="coords in detail.objective_locs"
                    v-bind:style="{
                      'left': transform_map_x_coord(detail_id, coords[0]) + '%',
                      'top': transform_map_y_coord(detail_id, coords[1]) + '%',
                    }"></div>
                  <!-- servoskull markers -->
                  <div
                    class="no-select minimap-marker minimap-marker-skull"
                    v-if="minimap_vc_visible"
                    v-for="coords in detail.skull_locs"
                    v-bind:style="{
                      'left': transform_map_x_coord(detail_id, coords[0]) + '%',
                      'top': transform_map_y_coord(detail_id, coords[1]) + '%',
                    }"></div>
                  <!-- info fragment marker -->
                  <div
                    class="no-select minimap-marker minimap-marker-fragment"
                    v-if="minimap_vc_visible && detail.fragment"
                    v-bind:style="{
                      'left': transform_map_x_coord(detail_id, detail.fragment_x) + '%',
                      'top': transform_map_y_coord(detail_id, detail.fragment_y) + '%',
                    }"></div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button"
                      class="btn btn-secondary mx-auto d-block minimap-control minimap-close-button"
                      @click="hide_minimap()"
                >Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vue Javascript -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="void_data.js"></script>
    <script src="app.js"></script>

    <!-- Bootstrap Javascript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
